@import '../../styles/global.css';

$color-back-positive: $color-positive-200;
$color-text-positive: $color-positive-500;
$color-back-negative: $color-negative-200;
$color-text-negative: $color-negative-500;

$padding-x: $sp-2;
$padding-y: $sp-1;

$rad: $rad-sm;

.cont {
  display:inline-block;
  padding:$padding-y $padding-x;
  border-radius: $rad;
  @mixin font-bold-normal;
}

.cont.positive {
  color: $color-text-positive;
  background: $color-back-positive;
}

.cont.negative {
  color: $color-text-negative;
  background: $color-back-negative;
}