@import '../../styles/global.css';

$color-back: $back-main;
$color-val: $text-main;
$size-badge: $sp-7;
$rad: 50%;

.cont {
  height: $size-badge;
  width: $size-badge;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-back;
  color: $color-val;
  border-radius: $rad;
  @mixin font-bold-sectitle;
}
