@import '../../styles/global.css';

/* MainMenuOpt Vars */

$back-opt: none;
$back-active-opt: $back-active;
$spacing-opt: $sp-2;
$padding-opt: $sp-3;

$size-pic-opt: $icon-sm;
$color-pic-opt: $text-second;
$color-pic-opt-active: $text-active;
$color-label-opt: $text-second;
$color-label-opt-active: $text-active;

/* MainMenu Vars */

$width-menu: 362px;
$back-menu: $back-surface;
$rad-menu: $rad-lg;
$spacing-menu: $sp-7;
$padding-menu: $sp-5;
$color-title: $text-default;
$color-title-strong: $text-active;
$spacing-opt: $sp-0;


/* MainMenuOpt */

.contOpt {
  background: $back-opt;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $spacing-opt;
  padding: $padding-opt;
  cursor: pointer;

  .picCont {
    display: flex;
    justify-content: center;
    align-items: center;

    height: $sp-8;
    width: $sp-8;
  }

  .picCont .pic {
    font-size: $size-pic-opt;
    color: $color-pic-opt;
  }

  .label {
    flex-grow: 1;
    @mixin font-reg-sectitle;
    color: $color-label-opt;
  }
}

.contOpt.active, .contOpt:hover {
  background: $back-active-opt;

  .pic, .label {
    color: $color-pic-opt-active;
  }
}

/* MainMenu */

.cont {
  width: $width-menu;
  height: 100%;
  box-sizing: border-box;

  background: $back-menu;
  border-radius: $rad-menu;

  display: flex;
  flex-direction: column;
  gap: $spacing-menu;
  padding: $padding-menu;
}

.title {
  color: $color-title;
  padding: 0 $padding-opt;
  @mixin font-bold-huge;

  .strong {
    color: $color-title-strong;
  }
}

.cont .menu {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: $spacing-opt;
}