@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import './base/index.css';
@import './tokens/index.css';

$color-back-main: $text-default;
$color-text-main: $color-neutral-0;

:root {
  color: $color-back-main;
  background: $color-text-main;

  font-size: $base-size;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;

  padding: 0;
  margin: 0;
}
