@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import './base/index.css';
@import './tokens/index.css';

:root {
  font-size: $base-size;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.test {
  color: $color-main-300;
  font-size: $font-xxl;
}
