@import '../../styles/global.css';

$padding: $sp-7;
$spacing: $sp-7;
$spacing-cont: $sp-7; 

.mainCont {
  width: 1440px;
  display: flex;
  gap: $spacing;
  padding: $padding;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0 auto;
}

.cont {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: $spacing-cont;
  height: calc(100vh - ($spacing-cont * 6));
}

.cont .page {
  height: 100%;
  box-sizing: border-box;
}