@import '../../styles/global.css';

$spacing-corner: $sp-6;
$size-search: pxToRem(368px, $base-size, $scale-factor);

.cont {
  display: flex;
  align-items: center;
}

.cont .main {
  flex-basis: $size-search;
}

.cont .corner {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: $spacing-corner;
}
