@import '../../styles/global.css';

$color-back: $back-main;
$color-pic: $text-main;
$size-avatar: $sp-9;
$size-pic: $icon-sm;
$rad: 50%;

.cont {
  height: $size-avatar;
  width: $size-avatar;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-back;
  color: $color-pic;
  font-size: $size-pic;
  border-radius: $rad;
}
