@import '../tokens/primitive/index.css';

/* Bold */

@define-mixin font-bold-huge {
  font-weight: bold;
  font-size: $sp-8;
}

@define-mixin font-bold-subtitle {
  font-weight: bold;
  font-size: $sp-7;
}

@define-mixin font-bold-sectitle {
  font-weight: bold;
  font-size: $sp-5;
}

@define-mixin font-bold-normal {
  font-weight: bold;
  font-size: $sp-4;
}


/* Regular */

@define-mixin font-reg-sectitle {
  font-weight: normal;
  font-size: $sp-5;
}

@define-mixin font-reg-normal {
  font-weight: normal;
  font-size: $sp-4;
}
